# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyCharm / IDEs
.idea/
.vscode/
*.iml

# Virtual environments
venv/
.venv/
env/

# Output / checkpoints
checkpoints/
logs/

# Distribution / packaging
build/
dist/
*.egg-info/
